* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  height:100vh;
}
.grid-container {
  width: 100%;
  top:60px;
  height:calc(100vh - 60px);
  position: absolute;
  overflow: scroll;
  background: #0d0208;
}
.grid-row {
  white-space: nowrap;
  height: 30px;
  font-size: 10px;
}
.grid-node {
  width: 30px;
  border: 1px solid #003b00;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  transition:.5s all;
  user-select: none;
  scale: 0;
}

.grid-node:hover {
  /* background-color: rgb(135, 206, 235,0.5); */
  border: 1px solid #064215;
  cursor: pointer;
}

.grid-container::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #0d0208;
}

.grid-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #0d0208;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #00ff41;
  /* border: 2px solid #555555; */
}
.wall {
  /* background: url("https://opengameart.org/sites/default/files/crates_study_x2.png"); */
    background-color: #064215;
  background-size: cover;
  animation: addWallAnimation 0.25s linear;
  /* animation: visitedAnimation 1.25s linear; */
  border: none !important;
}
@keyframes addWallAnimation {
  0% {
    transform:scale(0.75);
    background: #008f11;
  }
  50% {
    
    transform:scale(1.25);
    background: #00ff41;
  }
  100% {
    transform:scale(1);
    background-color: #064215;

  }
}
/* .wall-2 {
  background: url("http://pixelartmaker.com/art/67c17fc6b27ffae.png") no-repeat;
  background-size: 100% 100%;
}
.wall-3 {
  background: url("./assets/greenrock.png");
  background-size:cover;
} */

.visited {
  animation: visitedAnimation 1.5s linear;
}
.shortest-path {
  animation: shortestPathAnimation 5s linear infinite;
  border: none;
}
.start {
  background-color: #003b00;
  border:none;
  box-shadow: 0px 0px 30px green;
  cursor: grab!important;
}
.finish {
  /* background: url("./assets/chest1.png") no-repeat; */
  background: #008f11;
  box-shadow: 0px 0px 30px yellowgreen;
  background-size: 100% 100%;
  border: 0px ;
  cursor: grab!important; 
  /* cursor:grabbing; */
}
.finish.shortest-path {
  transition: none;
  /* background: url("./assets/chest2.png") no-repeat !important; */
  background: #00ff41;
  background-size: 100% 100%;
}
.current-visited {
  background:white;
}

@keyframes shortestPathAnimation {
  0% {
    background: #008f11;
  }
  25% {
    background: #003b00;
  }
  50% {
    background: #00ff41;
  }
  75% {
    background: #003b00;
  }
  100% {
    background: #008f11;
  }
}

@keyframes visitedAnimation {
  0% {
    will-change: border,transform,opacity,background-color,border-radius;
    border:none;
    transform: scale(0.15);
    opacity:0;
  }
  25% {
    opacity:1;
    background-color: #00ff41;
    border-radius: 0px;
    transform: scale(1);
  }
  50% {
    background-color: #008f11;
    border-radius: 4px;
    transform: scale(1.25);
    /* transform: rotate(0.25turn); */
  }
  80% {
    
    transform: scale(1);
    border-radius:0px;
  }
  100% {
    background-color: rgba(0, 217, 159, 0.75);
    /* transform: scale(1); */
    /* opacity:0; */
    border-radius:100%;
    transform: scale(0);
    border:none;
    /* transform:  rotate(0turn); */
  }
}







nav {
  background:#0d0208;
  color:#008F11;
  font-size:22px;
  font-family:Courier, monospace;
  font-weight:bold
}
nav ul {
  margin:0px;
  align-items:center;
  justify-content: space-evenly;
  height:60px;
  display:flex;
  list-style:none;
}
nav li {
  margin-right:30px;
  cursor: pointer;
  margin-right:25px;
  padding-right:25px;
}

nav input[type="number"] {
  width:50px;
  border:none;
  font-weight:bold;
  background: #008f11;
  color:black;
  padding:2px;
  font-family:courier;
  margin-right:20px;
}
nav input[type="number"]::placeholder {
  color:rgba(0, 0, 0, 0.719);
}
nav input[type="submit"] {
  border:none;
  background:#008f11;
  text-transform: uppercase;
  padding: 4px 10px;
}
nav input[type="submit"]:hover {
  background:#006d0d;
}
.pixelart-to-css {
  position: absolute;
  z-index: 999;
  bottom: 150px;
  right: 180px;
  animation: x 3s infinite;
  -webkit-animation: x 3s infinite;
  -moz-animation: x 3s infinite;
  -o-animation: x 3s infinite;
}

@keyframes x {
  0%,
  25% {
    box-shadow: 70px 10px 0 0 #000000, 120px 10px 0 0 #000000,
      60px 20px 0 0 #000000, 70px 20px 0 0 #ffcdd2, 80px 20px 0 0 #000000,
      110px 20px 0 0 #000000, 120px 20px 0 0 #ffcdd2, 130px 20px 0 0 #000000,
      60px 30px 0 0 #000000, 70px 30px 0 0 #ffcdd2, 80px 30px 0 0 #ffcdd2,
      90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #ffcdd2,
      120px 30px 0 0 #ffcdd2, 130px 30px 0 0 #000000, 60px 40px 0 0 #000000,
      70px 40px 0 0 #ffcdd2, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000,
      100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #ffcdd2,
      130px 40px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #000000,
      80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
      110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #000000,
      60px 60px 0 0 #000000, 70px 60px 0 0 #ffeb3b, 80px 60px 0 0 #000000,
      90px 60px 0 0 #000000, 100px 60px 0 0 #ffeb3b, 110px 60px 0 0 #000000,
      120px 60px 0 0 #000000, 130px 60px 0 0 #000000, 60px 70px 0 0 #000000,
      70px 70px 0 0 #000000, 80px 70px 0 0 #ffcdd2, 90px 70px 0 0 #000000,
      100px 70px 0 0 #000000, 110px 70px 0 0 #000000, 120px 70px 0 0 #000000,
      130px 70px 0 0 #000000, 60px 80px 0 0 #000000, 70px 80px 0 0 #000000,
      80px 80px 0 0 #000000, 90px 80px 0 0 #000000, 100px 80px 0 0 #000000,
      110px 80px 0 0 #000000, 120px 80px 0 0 #000000, 130px 80px 0 0 #000000,
      70px 90px 0 0 #000000, 80px 90px 0 0 #000000, 90px 90px 0 0 #000000,
      100px 90px 0 0 #000000, 110px 90px 0 0 #000000, 120px 90px 0 0 #000000,
      80px 100px 0 0 #000000, 90px 100px 0 0 #000000, 100px 100px 0 0 #000000,
      110px 100px 0 0 #000000, 140px 100px 0 0 #000000, 80px 110px 0 0 #000000,
      90px 110px 0 0 #000000, 100px 110px 0 0 #000000, 110px 110px 0 0 #000000,
      150px 110px 0 0 #000000, 70px 120px 0 0 #000000, 80px 120px 0 0 #000000,
      90px 120px 0 0 #000000, 100px 120px 0 0 #000000, 110px 120px 0 0 #000000,
      120px 120px 0 0 #000000, 150px 120px 0 0 #000000, 50px 130px 0 0 #000000,
      60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000,
      90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000,
      120px 130px 0 0 #000000, 150px 130px 0 0 #000000, 50px 140px 0 0 #000000,
      60px 140px 0 0 #000000, 70px 140px 0 0 #000000, 80px 140px 0 0 #000000,
      90px 140px 0 0 #000000, 100px 140px 0 0 #000000, 110px 140px 0 0 #000000,
      120px 140px 0 0 #000000, 140px 140px 0 0 #000000, 150px 140px 0 0 #000000,
      40px 150px 0 0 #000000, 50px 150px 0 0 #000000, 60px 150px 0 0 #000000,
      70px 150px 0 0 #000000, 80px 150px 0 0 #000000, 90px 150px 0 0 #000000,
      100px 150px 0 0 #000000, 110px 150px 0 0 #000000, 120px 150px 0 0 #000000,
      130px 150px 0 0 #000000, 140px 150px 0 0 #000000;
    height: 10px;
    width: 10px;
  }
  25.01%,
  50% {
    box-shadow: 70px 10px 0 0 #000000, 120px 10px 0 0 #000000,
      60px 20px 0 0 #000000, 70px 20px 0 0 #ffcdd2, 80px 20px 0 0 #000000,
      110px 20px 0 0 #000000, 120px 20px 0 0 #ffcdd2, 130px 20px 0 0 #000000,
      60px 30px 0 0 #000000, 70px 30px 0 0 #ffcdd2, 80px 30px 0 0 #ffcdd2,
      90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #ffcdd2,
      120px 30px 0 0 #ffcdd2, 130px 30px 0 0 #000000, 60px 40px 0 0 #000000,
      70px 40px 0 0 #ffcdd2, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000,
      100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #ffcdd2,
      130px 40px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #000000,
      80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
      110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #000000,
      60px 60px 0 0 #000000, 70px 60px 0 0 #000000, 80px 60px 0 0 #ffeb3b,
      90px 60px 0 0 #000000, 100px 60px 0 0 #000000, 110px 60px 0 0 #ffeb3b,
      120px 60px 0 0 #000000, 130px 60px 0 0 #000000, 60px 70px 0 0 #000000,
      70px 70px 0 0 #000000, 80px 70px 0 0 #000000, 90px 70px 0 0 #000000,
      100px 70px 0 0 #ffcdd2, 110px 70px 0 0 #000000, 120px 70px 0 0 #000000,
      130px 70px 0 0 #000000, 60px 80px 0 0 #000000, 70px 80px 0 0 #000000,
      80px 80px 0 0 #000000, 90px 80px 0 0 #000000, 100px 80px 0 0 #000000,
      110px 80px 0 0 #000000, 120px 80px 0 0 #000000, 130px 80px 0 0 #000000,
      70px 90px 0 0 #000000, 80px 90px 0 0 #000000, 90px 90px 0 0 #000000,
      100px 90px 0 0 #000000, 110px 90px 0 0 #000000, 120px 90px 0 0 #000000,
      80px 100px 0 0 #000000, 90px 100px 0 0 #000000, 100px 100px 0 0 #000000,
      110px 100px 0 0 #000000, 140px 100px 0 0 #000000, 80px 110px 0 0 #000000,
      90px 110px 0 0 #000000, 100px 110px 0 0 #000000, 110px 110px 0 0 #000000,
      150px 110px 0 0 #000000, 70px 120px 0 0 #000000, 80px 120px 0 0 #000000,
      90px 120px 0 0 #000000, 100px 120px 0 0 #000000, 110px 120px 0 0 #000000,
      120px 120px 0 0 #000000, 150px 120px 0 0 #000000, 50px 130px 0 0 #000000,
      60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000,
      90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000,
      120px 130px 0 0 #000000, 150px 130px 0 0 #000000, 50px 140px 0 0 #000000,
      60px 140px 0 0 #000000, 70px 140px 0 0 #000000, 80px 140px 0 0 #000000,
      90px 140px 0 0 #000000, 100px 140px 0 0 #000000, 110px 140px 0 0 #000000,
      120px 140px 0 0 #000000, 140px 140px 0 0 #000000, 150px 140px 0 0 #000000,
      40px 150px 0 0 #000000, 50px 150px 0 0 #000000, 60px 150px 0 0 #000000,
      70px 150px 0 0 #000000, 80px 150px 0 0 #000000, 90px 150px 0 0 #000000,
      100px 150px 0 0 #000000, 110px 150px 0 0 #000000, 120px 150px 0 0 #000000,
      130px 150px 0 0 #000000, 140px 150px 0 0 #000000;
    height: 10px;
    width: 10px;
  }
  50.01%,
  75% {
    box-shadow: 70px 10px 0 0 #000000, 120px 10px 0 0 #000000,
      60px 20px 0 0 #000000, 70px 20px 0 0 #ffcdd2, 80px 20px 0 0 #000000,
      110px 20px 0 0 #000000, 120px 20px 0 0 #ffcdd2, 130px 20px 0 0 #000000,
      60px 30px 0 0 #000000, 70px 30px 0 0 #ffcdd2, 80px 30px 0 0 #ffcdd2,
      90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #ffcdd2,
      120px 30px 0 0 #ffcdd2, 130px 30px 0 0 #000000, 60px 40px 0 0 #000000,
      70px 40px 0 0 #ffcdd2, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000,
      100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #ffcdd2,
      130px 40px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #000000,
      80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
      110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #000000,
      60px 60px 0 0 #000000, 70px 60px 0 0 #000000, 80px 60px 0 0 #ffeb3b,
      90px 60px 0 0 #000000, 100px 60px 0 0 #000000, 110px 60px 0 0 #ffeb3b,
      120px 60px 0 0 #000000, 130px 60px 0 0 #000000, 60px 70px 0 0 #000000,
      70px 70px 0 0 #000000, 80px 70px 0 0 #000000, 90px 70px 0 0 #000000,
      100px 70px 0 0 #ffcdd2, 110px 70px 0 0 #000000, 120px 70px 0 0 #000000,
      130px 70px 0 0 #000000, 60px 80px 0 0 #000000, 70px 80px 0 0 #000000,
      80px 80px 0 0 #000000, 90px 80px 0 0 #000000, 100px 80px 0 0 #000000,
      110px 80px 0 0 #000000, 120px 80px 0 0 #000000, 130px 80px 0 0 #000000,
      70px 90px 0 0 #000000, 80px 90px 0 0 #000000, 90px 90px 0 0 #000000,
      100px 90px 0 0 #000000, 110px 90px 0 0 #000000, 120px 90px 0 0 #000000,
      80px 100px 0 0 #000000, 90px 100px 0 0 #000000, 100px 100px 0 0 #000000,
      110px 100px 0 0 #000000, 160px 100px 0 0 #000000, 80px 110px 0 0 #000000,
      90px 110px 0 0 #000000, 100px 110px 0 0 #000000, 110px 110px 0 0 #000000,
      150px 110px 0 0 #000000, 70px 120px 0 0 #000000, 80px 120px 0 0 #000000,
      90px 120px 0 0 #000000, 100px 120px 0 0 #000000, 110px 120px 0 0 #000000,
      120px 120px 0 0 #000000, 150px 120px 0 0 #000000, 50px 130px 0 0 #000000,
      60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000,
      90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000,
      120px 130px 0 0 #000000, 150px 130px 0 0 #000000, 50px 140px 0 0 #000000,
      60px 140px 0 0 #000000, 70px 140px 0 0 #000000, 80px 140px 0 0 #000000,
      90px 140px 0 0 #000000, 100px 140px 0 0 #000000, 110px 140px 0 0 #000000,
      120px 140px 0 0 #000000, 140px 140px 0 0 #000000, 150px 140px 0 0 #000000,
      40px 150px 0 0 #000000, 50px 150px 0 0 #000000, 60px 150px 0 0 #000000,
      70px 150px 0 0 #000000, 80px 150px 0 0 #000000, 90px 150px 0 0 #000000,
      100px 150px 0 0 #000000, 110px 150px 0 0 #000000, 120px 150px 0 0 #000000,
      130px 150px 0 0 #000000, 140px 150px 0 0 #000000;
    height: 10px;
    width: 10px;
  }
  75.01%,
  100% {
    box-shadow: 70px 10px 0 0 #000000, 120px 10px 0 0 #000000,
      60px 20px 0 0 #000000, 70px 20px 0 0 #ffcdd2, 80px 20px 0 0 #000000,
      110px 20px 0 0 #000000, 120px 20px 0 0 #ffcdd2, 130px 20px 0 0 #000000,
      60px 30px 0 0 #000000, 70px 30px 0 0 #ffcdd2, 80px 30px 0 0 #ffcdd2,
      90px 30px 0 0 #000000, 100px 30px 0 0 #000000, 110px 30px 0 0 #ffcdd2,
      120px 30px 0 0 #ffcdd2, 130px 30px 0 0 #000000, 60px 40px 0 0 #000000,
      70px 40px 0 0 #ffcdd2, 80px 40px 0 0 #000000, 90px 40px 0 0 #000000,
      100px 40px 0 0 #000000, 110px 40px 0 0 #000000, 120px 40px 0 0 #ffcdd2,
      130px 40px 0 0 #000000, 60px 50px 0 0 #000000, 70px 50px 0 0 #000000,
      80px 50px 0 0 #000000, 90px 50px 0 0 #000000, 100px 50px 0 0 #000000,
      110px 50px 0 0 #000000, 120px 50px 0 0 #000000, 130px 50px 0 0 #000000,
      60px 60px 0 0 #000000, 70px 60px 0 0 #000000, 80px 60px 0 0 #ffeb3b,
      90px 60px 0 0 #000000, 100px 60px 0 0 #000000, 110px 60px 0 0 #ffeb3b,
      120px 60px 0 0 #000000, 130px 60px 0 0 #000000, 60px 70px 0 0 #000000,
      70px 70px 0 0 #000000, 80px 70px 0 0 #000000, 90px 70px 0 0 #000000,
      100px 70px 0 0 #ffcdd2, 110px 70px 0 0 #000000, 120px 70px 0 0 #000000,
      130px 70px 0 0 #000000, 60px 80px 0 0 #000000, 70px 80px 0 0 #000000,
      80px 80px 0 0 #000000, 90px 80px 0 0 #000000, 100px 80px 0 0 #000000,
      110px 80px 0 0 #000000, 120px 80px 0 0 #000000, 130px 80px 0 0 #000000,
      70px 90px 0 0 #000000, 80px 90px 0 0 #000000, 90px 90px 0 0 #000000,
      100px 90px 0 0 #000000, 110px 90px 0 0 #000000, 120px 90px 0 0 #000000,
      80px 100px 0 0 #000000, 90px 100px 0 0 #000000, 100px 100px 0 0 #000000,
      110px 100px 0 0 #000000, 140px 100px 0 0 #000000, 80px 110px 0 0 #000000,
      90px 110px 0 0 #000000, 100px 110px 0 0 #000000, 110px 110px 0 0 #000000,
      150px 110px 0 0 #000000, 70px 120px 0 0 #000000, 80px 120px 0 0 #000000,
      90px 120px 0 0 #000000, 100px 120px 0 0 #000000, 110px 120px 0 0 #000000,
      120px 120px 0 0 #000000, 150px 120px 0 0 #000000, 50px 130px 0 0 #000000,
      60px 130px 0 0 #000000, 70px 130px 0 0 #000000, 80px 130px 0 0 #000000,
      90px 130px 0 0 #000000, 100px 130px 0 0 #000000, 110px 130px 0 0 #000000,
      120px 130px 0 0 #000000, 150px 130px 0 0 #000000, 50px 140px 0 0 #000000,
      60px 140px 0 0 #000000, 70px 140px 0 0 #000000, 80px 140px 0 0 #000000,
      90px 140px 0 0 #000000, 100px 140px 0 0 #000000, 110px 140px 0 0 #000000,
      120px 140px 0 0 #000000, 140px 140px 0 0 #000000, 150px 140px 0 0 #000000,
      40px 150px 0 0 #000000, 50px 150px 0 0 #000000, 60px 150px 0 0 #000000,
      70px 150px 0 0 #000000, 80px 150px 0 0 #000000, 90px 150px 0 0 #000000,
      100px 150px 0 0 #000000, 110px 150px 0 0 #000000, 120px 150px 0 0 #000000,
      130px 150px 0 0 #000000, 140px 150px 0 0 #000000;
    height: 10px;
    width: 10px;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}
